.error
  background: #1a1a1a url('../images/404.jpg') center center
  background-repeat: no-repeat
  background-size: cover
  color: $bc-white !important
  height: 100%
  width: 100%

.wrapper.page
h1, p, a
  color: $bc-white
  text-decoration: none

.logo
  background: url('../images/logo.png');
  background-image: url('../images/logo.svg'), none;
  background-position: center center
  background-repeat: no-repeat
  height: 200px
  width: @height
  background-size: @height
  margin: 0 auto 49px

h1
  font-size: 60px !important
  line-height: @font-size
  margin-bottom: 10px
  font-weight: 600
  
.button
	color: $bc-white
	border: 2px solid $light-gray
	border-radius: $space-1
	cursor: pointer
	font-weight: 600
	padding: $space-2
	margin-top: $space-2

.social-links a
  font-size: 60px
  margin: 10px