#filters
  li.is-checked
    background $bc-blue

.filler
  padding-bottom 50%
  width (6 / 12) * 100%

.posts
  height auto !important

.post
  height 0
  float left
  backface-visibility hidden
  box-sizing border-box

  p.description
    display none

  &:hover
    .bg-image
      transform scale(1.4)

  .bg-image
    transform scale(1)
    transition all 27000ms linear

  &.square
    &.big
      p.description
        display block

@media $breakpoint-tiny
  body
    .filler
      display none
    .post
      top 0 !important
      height auto !important
      position relative !important

      .content-container
        position relative !important
        padding $space-4 $space-3
        box-sizing border-box

      &.square
        padding-bottom 0

        &.big
        &.small
          width 100%

        &.small
          padding-bottom 0

      &.rectangle
        width 100%
        padding-bottom 0


@media $breakpoint-xsm
  body
    .filler
      display none
    .post
      top 0 !important
      height auto !important
      position relative !important

      .content-container
        position relative !important
        padding $space-4 $space-3
        box-sizing border-box

      &.square
        padding-bottom 0

        &.big
        &.small
          width 100%

        &.small
          padding-bottom 0

      &.rectangle
        width 100%
        padding-bottom 0

@media $breakpoint-md
  body
    .post
      &.square
        padding-bottom 50%

        &.big
          width (6 / 12) * 100%

          .content
            padding-left $space-4
            padding-right $space-4

        &.small
          width (3 / 12) * 100%
          padding-bottom 25%

          .content
            padding-left $space-2
            padding-right $space-2

      &.rectangle
        width (6 / 12) * 100%
        padding-bottom 25%

        .content
          padding-left $space-4
          padding-right $space-4
