.grid-content
  max-width 300px

.event
  min-height 300px

.map
  height 480px
  -webkit-filter: grayscale(100%)
  -moz-filter: grayscale(100%)
  -ms-filter: grayscale(100%)
  -o-filter: grayscale(100%)
  filter: grayscale(100%)
  filter: url(grayscale.svg) /* Firefox 4+ */
  filter: gray /* IE 6-9 */
  
.connections
  margin: 8px 0
  font-size: 13px

  span.s
    border-radius: 20px

  &.m
    span
      background-color: #E06E23

  &.b
    span
      background-color: #7D176B

  span
    font-family: $heading
    font-weight: 900
    padding: 1px
    border-radius: 4px
    background: white
    color: $white
    margin-right: 6px
    display: inline-block
    text-align: center
    min-width: 30px