.summer-hero
  background #F9F18C
  overflow hidden

.summer-pattern
  background-image url('../content/4-summer/pattern.svg')
  background-position center center
  position absolute
  height 3000px
  width 3000px
  transform rotate(-45deg) translateY(-60%)

.summer-logo
  background-color #F9F18C
  background-image url('../content/4-summer/logo.svg')
  background-position center center
  background-repeat no-repeat
  background-size 80%
  padding 20px
  height 300px
  width 50%

.summer-event-content
  letter-spacing 5px
  padding 0 30px

  h4.title
    letter-spacing 5px
