button,
.button
  position relative
  font-size $button-font-size
  font-weight $button-font-weight
  text-decoration none
  cursor pointer
  display inline-block
  box-sizing border-box
  line-height $button-line-height
  padding $button-padding-y $button-padding-x $button-padding-y - 2px
  margin 0
  height auto
  border none
  vertical-align middle
  -webkit-appearance none
  text-transform uppercase
  letter-spacing 0.07em

.button:hover
  text-decoration none

.button-small
  padding $button-small-padding-y $button-small-padding-x

.button-big
  padding $button-big-padding-y $button-big-padding-x

.button-narrow
  padding-left $space-1
  padding-right $space-1

.button
  color white
  background-color $blue
  transition-duration .05s
  transition-timing-function ease-out
  transition-property opacity

.buttonhover
  opacity .875

.buttonfocus
  outline none
  border-color $darken-2
  /* box-shadow 0 0 0 2px rgba(white, .5, 0 0 1px 4px rgba($blue, .5 */

.buttonactive,
.button.is-active
  /* box-shadow inset 0 0 0 32px rgba(#000,.125, inset 0 2px 3px 0 rgba(#000,.25 */

.buttondisabled,
.button.is-disabled
  opacity .5

.button-outline
  position relative
  z-index 2
  color inherit
  background-color transparent
  border-radius $border-radius
  border $border-width solid @color
  transition-duration .1s
  transition-timing-function ease-out
  transition-property box-shadow, background-color

.button-outlinebefore
  content ''
  width 100%
  height 100%
  display block
  position absolute
  z-index -1
  top -1px
  left -1px
  border 1px solid transparent
  background-color @color
  border-radius $border-radius
  transition-duration .1s
  transition-timing-function ease-out
  transition-property opacity
  opacity 0

.button-outlinehover
  box-shadow none

.button-outlinehoverbefore
  opacity .125

.button-outlinefocus
  outline none
  border $border-width solid @color
  /* box-shadow 0 0 3px 1px */

.button-outlineactive,
.button-outline.is-active
  /* box-shadow inset 0 1px 5px 0, 0 0 1px */

.button-outlinedisabled,
.button-outline.is-disabled
  opacity .5

.button-transparent
  position relative
  z-index 2
  color inherit
  background-color transparent
  border-radius 0
  border $border-width solid transparent
  transition-duration .1s
  transition-timing-function ease-out
  transition-property box-shadow

.button-transparentbefore
  content ''
  width 100%
  height 100%
  display block
  position absolute
  z-index -1
  top -1px
  left -1px
  border 1px solid transparent
  background-color @color
  transition-duration .1s
  transition-timing-function ease-out
  transition-property opacity
  opacity 0

.button-transparenthover
  box-shadow none

.button-transparenthoverbefore
  opacity .0625
  opacity .09375

.button-transparentfocus
  outline none
  border-color transparent
  box-shadow 0 0 3px

.button-transparentactivebefore,
.button-transparent.is-activebefore
  opacity .0625

.button-transparentdisabled,
.button-transparent.is-disabled
  opacity .5

.button-nav-lighthover
  background-color $hover-background-color

.button-nav-lightactive,
.button-nav-light.is-active
  color $dark-gray


.button-nav-dark
  color white


.button-nav-darkhover
  background-color $darken-2


.button-nav-darkactive,
.button-nav-dark.is-active
  background-color $darken-2
