button,
.button
  position relative
  font-size $button-font-size
  font-weight $button-font-weight
  text-decoration none
  cursor pointer
  display inline-block
  box-sizing border-box
  line-height $button-line-height
  padding $button-padding-y $button-padding-x $button-padding-y - 2px
  margin 0
  height auto
  border none
  vertical-align middle
  -webkit-appearance none
  text-transform uppercase
  letter-spacing 0.07em
  color $bc-white

  &:focus
    outline 0

  &.bg-bc-white
    color $bc-blue

.button-outline
  border 1px solid
  text-transform uppercase
  letter-spacing 0.07em
