colors = dark-gray mid-gray light-gray bc-off-white bc-white bc-yellow bc-orange bc-blue bc-green
  for color in colors

    .{color}
      color $+color

    .hover-{color}:hover
      color $+color

    .hover-bg-{color}:hover
      background-color $+color

    .bg-{color}
      background-color $+color

    .bg-faded-{color}
      background-color rgba($+color,0.99)

    .bg-overlay-{color}
      background-color rgba($+color,0.4)

    .bg-light-overlay-{color}
      background-color rgba($+color,0.15)

    .border-{color}
      border-color $+color !important

    button.bg-{color}:hover,
    .button.bg-{color}:hover
      background-color darken($+color,30%)
      color white

    .button-outline.border-{color}:hover
      background-color $+color
      color white

.bg-transparent
  background-color transparent

.muted
  opacity .5

.black
  color #000
