body
  font-family $font-family
  -webkit-font-smoothing antialiased
  font-weight $normal-font-weight
  line-height $line-height
  font-size 100%
  color $mid-gray
  background-color white

h1, h2, h3, h4, h5, h6
  font-family $heading-font-family
  margin-top 1em
  margin-bottom .5em
  text-transform uppercase
  letter-spacing .07rem
  word-wrap break-word

p, dl, ol, ul
  font-size $body-text
  line-height $body-line-height
  margin-top 0
  margin-bottom $space-2

ol, ul
  padding-left $space-3

hr
  margin-top $space-3
  margin-bottom $space-3
  border 0
  border-bottom-style solid
  border-bottom-width $border-width
  border-bottom-color $border-color

blockquote
  margin-top $space-3
  margin-bottom $space-3
  margin-left 0
  padding-left $space-2
  padding-right $space-2

blockquote,
blockquote p
  font-size $h3
  font-style italic

a
  color $dark-gray
  text-decoration none

  &.hover:hover
    color $bc-blue

p.small
  font-size $body-text-small
  line-height $body-text-small-line-height

  p.big
    font-size $body-text + 4px
    line-height $body-text

h1, .h1
  font-size $h1
  font-weight $light-font-weight

  &.huge
    font-size $h1 + 2px

h2, .h2
  font-size $h2
  font-weight $regular-font-weight
  line-height $line-height + 1.2rem

h3, .h3
  font-size $h3
  margin-bottom .5rem
  line-height $line-height + 1rem
  font-weight $bold-font-weight

h4, .h4
  font-size $h4
  line-height $line-height + 0.5rem
  font-weight $bold-font-weight
  margin-bottom .5rem

h5, .h5
  font-size $h5
  line-height 1.3
  font-weight $bold-font-weight

h6, .h6
  font-size $h6
  font-weight $bold-font-weight

.body-text
  font-size $body-text

.body-text-small
  font-size $body-text-small
  line-height $body-text-small-line-height

.list-reset
  list-style none
  padding-left 0

.heavy
  font-weight $heavy-font-weight

.bold
  font-weight $bold-font-weight

.regular
  font-weight $regular-font-weight

.italic
  font-style italic

.caps
  text-transform uppercase
  letter-spacing .07rem

.left-align
  text-align left

.center
  text-align center

.right-align
  text-align right

.justify
  text-align justify

.pre-wrap
  white-space pre-wrap

.nowrap
  white-space nowrap

.lighter
  font-weight $light-font-weight

.regular
  font-weight $normal-font-weight

.heavier
  font-weight $heavy-font-weight

.uppercase
  text-transform uppercase

.letter-spacing
  letter-spacing 0.05rem

  &.huge
    letter-spacing 0.5rem

.letter-spacing-1
  letter-spacing 0.1rem

.letter-spacing-2
  letter-spacing 0.4rem

.line-height-0
  line-height 0

.line-height-1
  line-height 1

.line-height-2
  line-height 1.8

.line-height-3
  line-height 2

.line-height-5
  line-height 4

.default-page p a
  text-decoration underline

sizes = "tiny" 'max-width: 29.999em',
        "xsm" 'min-width: 30em',
        "sm" 'min-width: 40em',
        "md" 'min-width: 48em',
        "lg" 'min-width: 64em',
        "xlg" 'min-width: 81em'

  for size in sizes
    @media ({size[1]})
      .{size[0]}-left-align
        text-align left

      .{size[0]}-center
        text-align center

      .{size[0]}-right-align
        text-align right

      .{size[0]}-justify
        text-align justify
