$breakpoint-xsm = '(min-width: 30em)' // Mobile
$breakpoint-sm = '(min-width: 40em)' // Mobile Landscape
$breakpoint-md = '(min-width: 48em)' // Tablet
$breakpoint-lg = '(min-width: 64em)' // Tablet Landscape
$breakpoint-xlg = '(min-width: 81em)' // Desktop

$heading-font-family = "brandon-grotesque", sans-serif
$font-family = "brandon-text", sans-serif
$line-height = 1.5

$light-font-weight = 300
$normal-font-weight = 400
$semibold-font-weight = 600
$bold-font-weight = 700
$heavy-font-weight = 900

$h1 = 3.125rem // 50px / 16px
$h2 = 2.1875rem // 35px / 16px
$h3 = 1.75rem // 28px / 16px
$h4 = 1.125rem // 18px / 16px
$h5 = .875rem // 14px / 16px
$h6 = .75rem // 12px / 16px
$h7 = .625rem // 10px / 16px

$body-text = 1.25rem
$body-text-small = 1rem
$body-text-small-line-height = 1.4rem
$body-line-height = 1.9rem

$space-half = .25rem
$space-1 = .5rem
$space-2 = 1rem
$space-3 = 2rem
$space-4 = 4rem

$form-field-font-size = 1rem
$form-field-height = 2.6rem
$form-field-padding-y = 1rem
$form-field-padding-x = 1rem
$form-field-border-color = $light-gray

$button-font-size = .75rem
$button-font-weight = $bold-font-weight
$button-line-height = normal
$button-padding-y = .9rem
$button-padding-x = 1rem
$button-small-padding-y = .25rem
$button-small-padding-x = .5rem
$button-big-padding-y = 1rem
$button-big-padding-x = 1.25rem

$container-width = 1024px // 1024px / 16px

$dark-gray = #212121
$mid-gray = #414141
$light-gray = #a2a2a2
$bc-off-white = #fafafa
$bc-white = #fff
$bc-yellow = #fff200
$bc-orange = #f25a2b
$bc-blue = #0087e0
$bc-green = #12e096


$darken-1 = rgba(black, .0625)
$darken-2 = rgba(black, .125)
$darken-3 = rgba(black, .25)
$darken-4 = rgba(black, .5)

$border-color = $light-gray
$border-width = 1px
$border-radius = 3px

$hover-background-color = $darken-1

$table-header-font-weight = $old-font-weight
$table-cell-padding-x = $space-2
$table-cell-padding-y = $space-1
