.event-content
  max-height 130px
  min-height 130px
  transition max-height 300ms ease

  &:hover
    max-height 250px
    height 100%

  p
    font-size 16px
    line-height 24px
    margin 0
    color $lighter-gray

.date
  width 50px
  height @width

.location
  box-shadow 0px -20px 15px 0px #ffffff
