.videohero
  padding 0
  min-height 640px
  max-height 900px
  height 100vh

.video-container
  position absolute
  top 0
  left 0
  bottom 0
  right 0
  overflow hidden
  // background-image url(../images/8b80e5f2.meet-video-poster.png)
  background-position 50% 50%
  background-color transparent
  background-size cover

video
  position absolute
  top 50%
  left 50%
  min-width 100%
  min-height 100%
  width auto
  height auto
  display inline-block
  vertical-align baseline
  transform translateX(-50%) translateY(-50%)

.home-hero
  margin-top -114px

.home-overlay
  background: linear-gradient(to bottom, #328ad6 0%,#98cefc 100%);
  opacity .2

.general-hero
  min-height 550px
