colors = dark-gray mid-gray light-gray bc-off-white bc-white bc-yellow bc-orange bc-blue bc-green
  for color in colors

    .{color}
      color $+color

    .hover-{color}:hover
      color $+color

    .bg-{color}
      background-color $+color

    .bg-faded-{color}
      background-color rgba($+color,0.99)

    .border-{color}
      border-color $+color !important

.bg-transparent
  background-color transparent

.muted
  opacity .5