@font-face
  font-family: 'berlin-connect';
  src: url('../fonts/telegrafico/telegrafico.eot')
  src: url('../fonts/telegrafico/telegrafico.eot?iefix') format('eot'), url('../fonts/telegrafico/telegrafico.woff') format('woff'), url('../fonts/telegrafico/telegrafico.ttf') format('truetype'), url('../fonts/telegrafico/telegrafico.svg#webfonthOIcM5wm') format('svg')
  font-weight: 400
  font-style: normal

@font-face
  font-family: 'marker';
  src: url('../fonts/marker/marker.eot')
  src: url('../fonts/marker/marker.eot?iefix') format('eot'), url('../fonts/marker/marker.woff') format('woff'), url('../fonts/marker/marker.ttf') format('truetype'), url('../fonts/marker/marker.svg#webfonthOIcM5wm') format('svg')
  font-weight: 400
  font-style: normal

@font-face
  font-family: 'munich';
  src: url('../fonts/munich/munich.eot')
  src: url('../fonts/munich/munich.eot?iefix') format('eot'), url('../fonts/munich/munich.woff') format('woff2'), url('../fonts/munich/munich.woff') format('woff'), url('../fonts/munich/munich.ttf') format('truetype'), url('../fonts/munich/munich.svg#webfonthOIcM5wm') format('svg')
  font-weight: 400
  font-style: normal