table
  border-collapse separate
  border-spacing 0
  max-width 100%
  width 100%

th
  text-align left
  font-weight $table-header-font-weight

th
  padding 2rem 1rem

th,
td
  padding 0.8rem
  line-height inherit

th
  vertical-align bottom

td
  vertical-align top

.table-light th,
.table-light tbody tr:nth-child(2n) td
  background-color white

.table-light th,
.table-light td
  border-bottom-style solid
  border-bottom-width $border-width
  border-bottom-color $border-color
  border-right-style solid
  border-right-width $border-width
  border-right-color $border-color

.table-light tr:last-child td
  border-bottom 0

.table-light tr td:last-child,
.table-light tr th:last-child
  border-right 0