body
  font-family $font-family
  -webkit-font-smoothing antialiased
  font-weight $normal-font-weight
  line-height $line-height
  font-size 100%
  color $mid-gray
  background-color white

h1, h2, h3, h4, h5, h6
  font-family $heading-font-family
  font-weight $heading-font-weight
  line-height $heading-line-height
  margin-top 1em
  margin-bottom .5em

p, dl, ol, ul
  font-size $body-text
  line-height $body-line-height
  margin-top 0
  margin-bottom $space-2

ol, ul
  padding-left $space-3

hr
  margin-top $space-3
  margin-bottom $space-3
  border 0
  border-bottom-style solid
  border-bottom-width $border-width
  border-bottom-color $border-color

blockquote
  margin-top $space-3
  margin-bottom $space-3
  margin-left 0
  padding-left $space-2
  padding-right $space-2

blockquote,
blockquote p
  font-size $h3
  font-style italic

a
  color $bc-yellow
  text-decoration none

h1, .h1
  font-size $h1

h2, .h2
  font-size $h2

h3, .h3
  font-size $h3
  margin-bottom .5em

h4, .h4
  font-size $h4

h5, .h5
  font-size $h5
  line-height 1.3

h6, .h6
  font-size $h6

.body-text
  font-size $body-text

.body-text-small
  font-size $body-text-small
  line-height $body-text-small-line-height

.list-reset
  list-style none
  padding-left 0

.heavy
  font-weight $heavy-font-weight

.bold
  font-weight $bold-font-weight

.regular
  font-weight normal

.italic
  font-style italic

.caps
  text-transform uppercase
  letter-spacing .07rem

.left-align
  text-align left

.center
  text-align center

.right-align
  text-align right

.justify
  text-align justify

.pre-wrap
  white-space pre-wrap

.nowrap
  white-space nowrap

.lighter
  font-weight $light-font-weight

.regular
  font-weight $normal-font-weight

.heavier
  font-weight $heavy-font-weight

.uppercase
  text-transform uppercase

.letter-spacing
  letter-spacing 0.05rem

.line-height-0
  line-height 0

.line-height-1
  line-height 1